# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment
.env

# Docker
*.log

# Angular / Ionic
dist/
.angular/
www/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
# Capacitor Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
android/captures/
android/*.keystore
android/*.jks
